div{
    width: 50%;
    height: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
button{
    width: 100%;
    height: 5vw;
    border: none;
    background-color: yellowgreen;
    margin-top: -5px;
    cursor:pointer;
    font-size: 22px;
    color: rgb(252, 251, 250);
}